body{

    background-image: url('../Estilos/Imagenes/imgcontacto/fondo4.jpg');
    background-size: cover;
    backdrop-filter: blur(6px);
}


@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mukta:wght@200&display=swap');

#pagnav{
   background-color:#FAFBFD;
    height: 130px;

    
}


#LogoFrida{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 70px;

      }